*{
    outline: none !important;
    line-height: 1.4;
}

/* In your CSS */
:root {
    --color-primary: #5c6ac4;
    --color-secondary: #ecc94b;
    /* ... */
}

@tailwind base;

@tailwind components;

@tailwind utilities;

*, *::before, *::after {
    --transition-duration: 250ms;
}

.transition-none {
    transition-property: none;
    transition-duration: 250ms;

}

.transition-all {
    transition-property: all;
    transition-duration: 250ms;

}

.transition-color {
    transition-property: color;
    transition-duration: 250ms;

}

.transition-bg {
    transition-property: background-color;
    transition-duration: 250ms;

}

.transition-border {
    transition-property: border-color;
    transition-duration: 250ms;

}

.transition-colors {
    transition-property: color, background-color, border-color;
    transition-duration: 250ms;

}

.transition-opacity {
    transition-property: opacity;
    transition-duration: 250ms;

}

.transition-transform {
    transition-property: transform;
    transition-duration: 250ms;

}

.transition-0 {
    --transition-duration: 0ms;
    transition-duration: 0ms;

}

.transition-100 {
    --transition-duration: 100ms;
    transition-duration: 100ms;

}

.transition-250 {
    --transition-duration: 250ms;
    transition-duration: 250ms;

}

.transition-500 {
    --transition-duration: 500ms;
    transition-duration: 500ms;

}

.transition-750 {
    --transition-duration: 750ms;
    transition-duration: 750ms;

}

.transition-1000 {
    --transition-duration: 1000ms;
    transition-duration: 1000ms;

}

.transition-linear {
    transition-timing-function: linear;
}

.transition-ease {
    transition-timing-function: ease;
}

.transition-ease-in {
    transition-timing-function: ease-in;
}

.transition-ease-out {
    transition-timing-function: ease-out;
}

.transition-ease-in-out {
    transition-timing-function: ease-in-out;
}

.transition-delay-0 {
    transition-delay: 0ms;
}

.transition-delay-100 {
    transition-delay: 100ms;
}

.transition-delay-250 {
    transition-delay: 250ms;
}

.transition-delay-500 {
    transition-delay: 500ms;
}

.transition-delay-750 {
    transition-delay: 750ms;
}

.transition-delay-1000 {
    transition-delay: 1000ms;
}

.will-change-auto {
    will-change: auto;
}

.will-change-scroll {
    will-change: scroll-position;
}

.will-change-contents {
    will-change: contents;
}

.will-change-opacity {
    will-change: opacity;
}

.will-change-transform {
    will-change: transform;
}

@media (min-width: 640px) {
    .transition-none {
        transition-property: none;
        transition-duration: 250ms;

    }

    .transition-all {
        transition-property: all;
        transition-duration: 250ms;

    }

    .transition-color {
        transition-property: color;
        transition-duration: 250ms;

    }

    .transition-bg {
        transition-property: background-color;
        transition-duration: 250ms;

    }

    .transition-border {
        transition-property: border-color;
        transition-duration: 250ms;

    }

    .transition-colors {
        transition-property: color, background-color, border-color;
        transition-duration: 250ms;

    }

    .transition-opacity {
        transition-property: opacity;
        transition-duration: 250ms;

    }

    .transition-transform {
        transition-property: transform;
        transition-duration: 250ms;

    }

    .transition-0 {
        --transition-duration: 0ms;
        transition-duration: 0ms;

    }

    .transition-100 {
        --transition-duration: 100ms;
        transition-duration: 100ms;

    }

    .transition-250 {
        --transition-duration: 250ms;
        transition-duration: 250ms;

    }

    .transition-500 {
        --transition-duration: 500ms;
        transition-duration: 500ms;

    }

    .transition-750 {
        --transition-duration: 750ms;
        transition-duration: 750ms;

    }

    .transition-1000 {
        --transition-duration: 1000ms;
        transition-duration: 1000ms;

    }

    .transition-linear {
        transition-timing-function: linear;
    }

    .transition-ease {
        transition-timing-function: ease;
    }

    .transition-ease-in {
        transition-timing-function: ease-in;
    }

    .transition-ease-out {
        transition-timing-function: ease-out;
    }

    .transition-ease-in-out {
        transition-timing-function: ease-in-out;
    }

    .transition-delay-0 {
        transition-delay: 0ms;
    }

    .transition-delay-100 {
        transition-delay: 100ms;
    }

    .transition-delay-250 {
        transition-delay: 250ms;
    }

    .transition-delay-500 {
        transition-delay: 500ms;
    }

    .transition-delay-750 {
        transition-delay: 750ms;
    }

    .transition-delay-1000 {
        transition-delay: 1000ms;
    }

    .will-change-auto {
        will-change: auto;
    }

    .will-change-scroll {
        will-change: scroll-position;
    }

    .will-change-contents {
        will-change: contents;
    }

    .will-change-opacity {
        will-change: opacity;
    }

    .will-change-transform {
        will-change: transform;
    }
}